.wrapper_my {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 1%;

}

.left_column {
    width: 70%;
    height: 100vh;
    padding-bottom: 2px;
    border-radius: 2px;
    border: 1px solid rgb(179, 160, 160);
    position: relative;

}

.profile-background-image {
    width: 100%;
    height: 30vh;
    background: url(https://i.postimg.cc/7LcPSsWs/profile-cover.jpg);
}

.profile-background-image img {
    width: 100%;
    height: 30vh;
}


/* .img_margin {
    
    margin-top: -6% ; 
    margin-left: 6%;
} */

.user_data {
    width: 100%;
    /* height: 18%; */
    height: 15%;
    /* border: 1px solid rgb(179, 160, 160); */
    border-radius: 2px;
    /* padding-top: 1%; */
    padding-left: 7%;
}
.user_data h3 {
    color:black;
    text-align: left;
    margin: 0;
    
}

.user_data p {
    margin: 0;
}

.education_wrapper {
    width: 100%;
    height: auto;
    /* border: 1px solid rgb(155, 103, 103); */
    border-radius: 2px;
    padding-left: 7%;

}

.education_wrapper h1 {
   
    color: black;
    font-size: 20px;
    margin: 0;
}

.cv_icon {
    height: 20px;
}

.education_wrapper h4 {
    margin: 0;
    color : rgb(51, 49, 49);
}

.education_wrapper p {
    margin:0;
}

.education {
    padding-top: 1%;
}

.right_side {
    width: 25%;
    border: 1px solid rgb(179, 160, 160); 
    border-radius: 2px;
    height: 100vh;
}

.right_side div {
    /* width: 100%; */
    max-height: 100vh;
    overflow-y: scroll;
}

.btn_view_profile {
    width: 70%;
    padding: 2%;
    /* margin-left: 15%; */
    color: #73b7c3;
    font-weight: bold;
    background-color:transparent;
    border: 3px solid  #73b7c3;
    border-radius: 3px;
    /* margin-bottom: 5%; */
    cursor: pointer;
}


.btn_view_profile:hover {
    /* background-color:rgb(63, 116, 116);   */
    background-color:  rgba(63, 116, 116, 0.219);
  }


.profPic_me_wrapper {
    /* width: 13%; */
    width: 20%;
    position: relative;
    /* padding-top: 13%; */
    padding-top: 20%;
    border-radius: 50%;
    margin: 4%;
    display: inline-block;
     /* border: 1px solid black; */
    
}

.profPic_me {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTve0EVfSRkLe3dBZg4p7PQRbIdh12NzX0rog&usqp=CAU);
    background-size: cover;
}

.info_me_wrapper {
    display: inline-block;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /* vertical-align: center; */
    padding: 3% 0;
}

.info_me_wrapper p {
    margin: 0;
}

.info_me_wrapper h4 {
    margin: 0;
}


.wrapp_Id {
    width: 100%;
    /* height: 10%; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-items: center ;
    padding: 0 0 4% 0;
}

.img_name {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrapp_scroll {
    width: 100%;
    height: 52vh;
    /* border: 1px solid rgb(153, 23, 23); */

}

.wrapp_scroll div {
    max-height: 55vh;
    overflow-y: scroll;
    /* border: 1px solid rgb(179, 160, 160); */
}

.photo-parent {
    position: absolute;
    top: -50%;

}

.profPic_wrapper_me_section {
    width: 30%;
    position: relative;
    padding-top: 30%;
    border-radius: 50%;
    margin: 2%;
    display: inline-block;
    /* border: 1px solid black; */
    z-index: 1;
}

.profPic_me_section {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    background-image: url(https://scontent.fevn12-1.fna.fbcdn.net/v/t1.18169-9/15027569_1260966827288670_6049019062958307956_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=174925&_nc_ohc=x7kW6SKfc-QAX8SdwBF&_nc_ht=scontent.fevn12-1.fna&oh=724cb4dac157cfc138768659a1096e8e&oe=60E1F7BE);
    background-size: cover;
}