* {
  box-sizing: border-box;
}


.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 5px;
  background-color: #fff;
}

#container {
  display:inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 30%;
  height: 60%;
  background-color:white;
  margin: 15px;
  border-radius: 5px;
  box-shadow: -1px -1px 3px #a0a0a0,  -1px 1px 3px #a0a0a0,  1px -1px 3px #a0a0a0,  1px 1px 3px #a0a0a0;
}


.header {
  width: 100%;
  padding: 0.2%;
  background-color: #d4d3d3;
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: inset 0 0 10px rgb(192, 192, 192);
}

.header p {
  padding: 0 10%;
  font-weight: bold;
  font-size: 1rem;
  margin: 2%;
  color:rgb(37, 37, 37);
}

.burger_button {
  width: 40px;
  height: 40px;
  background-image: url("https://icon-library.com/images/hamburger-menu-icon-png/hamburger-menu-icon-png-8.jpg");
  background-size: cover;
  margin-left: 50%;
}

.list {
  width: 95%;
  display: inline-block;
  height: 75%;
  background-color: transparent;
  overflow-y: scroll;
}
  


.completed, .not_completed {
  display: flex;
  align-content: center;
  align-items: center;
  height: auto;
  padding: 2%;
  margin: 0 0 0 1%;
  text-align: center;
  border-bottom: solid 1px rgba(43, 42, 42, 0.1) ;

}

.completed p {
  color: green;
  font-weight: 500;
  padding: 16px;
  margin: 0 auto;
  overflow: hidden;
  white-space:nowrap;
  background-color: rgb(255, 255, 255);
}

.not_completed p {
  color:black;
  font-weight: 500;
}

del {
  display: flex;
  height: inherit;
  width: calc(100% - 60px) ;
  display: block;
}

.form {
  width: 100%;
  height: 13.5%;
  padding: 3px;
  background-color: #d4d3d3;;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 10px rgb(192, 192, 192);
}

.form input {
  display: flex;
  margin: 0 0 0 20px;
  width: 60%;
  height: 85%;
  outline: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  border-radius: 3px;
}

.form button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  right: 10px;
  cursor: pointer;
  color:rgb(37, 37, 37);
  margin-left: 2px;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 3px;
  padding: 5px 10px;
 
}


.form button:hover {
  background-color: rgba(161, 161, 161, 0.596);
  margin-left: 0px;
}

.not_checked {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(82, 82, 82);
  border-radius: 50%;
  display:flex;
  cursor: pointer;
}

.checked {
  border: 2px solid green;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display:flex;
  cursor: pointer;
  background: url("https://icon2.cleanpng.com/20180320/tuw/kisspng-check-mark-computer-icons-clip-art-green-check-mark-2-icon-5ab1d1bfebf0f5.0376901715216030079664.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.delete_item {
  width: 25px;
  height: 25px;
  border: 2px soli/d gray;
  cursor: pointer;
  font-weight: 700;
  color: grey
}

.delete_item:hover {
font-size: 110%;
}



::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background:transparent;
}
::-webkit-scrollbar-thumb{
  background: #d3d3d3;
  border-radius: 5px;
}

@media (max-width: 1200px){
  #container {
      width: 35%;
  }
}
@media  (max-width: 1000px){
  #container {
      width: 40%;
  }
}

@media (max-width: 850px){
  #container {
      width: 50%;
  }
}

@media  (max-width: 650px){
  #container {
      width: 60%;
  }
}

@media  (max-width: 500px){
  #container {
      width: 80%;
  }
}

@media (max-width: 350px){
  #container {
      width: 95%;
  }
}